.Container {
  clear: both;
  width: 100%;
  
  @media screen and (min-width: $breakpoint-full) {
    max-width: $breakpoint-full;
  }
}

.noClearfix {
  clear: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.gutter {
  padding-left: 16px;
  padding-right: 16px;

  @include mq($breakpoint-tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include mq($breakpoint-desktopLarge) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

// SIZES
.spacious {
  margin-top: spacing(8);
  margin-bottom: spacing(2);
  @include mq($breakpoint-tablet) {
    margin-top: spacing(12.5);
    margin-bottom: spacing(2);
  }
}

.full {
  width: 100%;
}

.wide {
  width: 100%;

  @include mq($breakpoint-mobileLandscape) {
    margin: auto;
    max-width: 1500px;
  }
}

.large {
  max-width: spacing(150);
}

.mediumLarge {

  max-width: 368px;

  @include mq($breakpoint-mobileLandscape) {
    margin: auto;
    max-width: calc(100vw - 40px);
  }

  @include mq($breakpoint-tablet) {
    max-width: calc(100vw - 214px);
  }

  @include mq($breakpoint-desktop) {
    max-width: calc(100vw - 40px);
  }

  @include mq($breakpoint-desktopLarge) {
    max-width: $breakpoint-desktop;
  }
}

.medium {
  max-width: spacing(120);
}

.small {
  margin: 0;
  @include mq($breakpoint-mobileLandscape) {
    max-width: 620px;
    margin: auto;
  }

  @include mq($breakpoint-desktop) {
    max-width: 778px;
  }

  @include mq($breakpoint-wide) {
    max-width: 778px;
  }
}

.hideOverflow {
  overflow: hidden;
}
