.HomePage {
  background-color: $elementColor;

  .image {
    object-fit: cover;
    object-position: right center;
    height: 100vh;
    display: block;
    margin-left: auto;
    width: 72vw;
  }

  .quote {
    position: absolute;
    padding: 0 20px;
    top: 15em;

    span {
      font-family: $fontHeading;
      color: $accentColor;
    }

    h1, p {
      margin-bottom: 30px;
    }

    .title {
      font-family: $fontHeading;
      font-weight: 800;
      font-size: 2.3em;
      line-height: 1em;
      max-width: 80vw;
      color: #fff;
    }
  
    .subtitle {
      font-family: $fontSubtitle;
      color: $backgroundLight;
      max-width: 70vw;
    }

    .button {
      background-color: #fff;
      border: 2px solid #fff;
      border-radius: 1px;
      letter-spacing: 1px;
      font-size: 12px;
      line-height: 18px;
      background-color: $backgroundColor;
      font-family: $fontHeading;
      font-weight: 700;
      width: 125px;
      height: 40px;
    }
  }
}

@media screen and (min-width: $breakpoint-mobileLandscape) {
  .HomePage {
    .quote {
      .title {
        max-width: 60vw;
        font-size: calc(5vmin + 1em);
        word-spacing: 3px;
      }
      .subtitle {
        max-width: 50vw;
        font-size: 3vmin;
        line-height: 34px;
      }
    }  
  }
}

@media screen and (min-width: $breakpoint-tabletLandscape) {
  .HomePage {
    .image {
      width: 46%;
      margin-right: 14%;
    }

    .quote {
      padding-left: 14%;

      .title {
        max-width: 9em;
        font-size: calc(4.2vmin + 1em);
      }

      .subtitle {
        max-width: 18em;
        font-size: 2.5vmin;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-wide) {
  .HomePage {
    max-height: 1500px;
    .image {
      max-height: 1500px;
    }

    .quote  {
      .title {
      font-size: 50px;
    }

      .subtitle {
        font-size: 50px;
      }
    }
  }
}