.Wrapper {
  width: 130vw;
}

@media screen and (min-width: $breakpoint-full) {
  .Wrapper {
    max-width: $breakpoint-full;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
  }
}