.PricingSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  .SectionName {
    padding-bottom: 70px;

    @include mq($breakpoint-tablet) {
      text-align: center;
    }
  }

  .SectionImage {
    left: -50px;
    bottom: -80px;

    @include mq($breakpoint-tablet) {
      left: -100px;
    }
  }

  .Cards {
    display: flex;
    flex-direction: column;

    .Plan {
      height: max-content;
      margin: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 20px;

      .JoinBtn {
        text-align: center;
        padding-top: 30px;
        border: 1px #fff solid;
        width: max-content;
        font-family: $fontSubtitle;
        font-weight: 700;
        margin-top: 16px;
        padding: 10px 40px;

        &:nth-child(even) {
          border: 1px solid #000;
        }

        &:nth-child(odd) {
          background-color: $backgroundLight;
          color: $elementColor;
        }
      }

      .ExtrasDiv {
        padding: 30px 0;
        p {
          padding-bottom: 20px;
          .Image {
            padding-right: 10px;
            vertical-align: sub;
          }
        }
      }

      p {
        font-family: $fontSubtitle;
      }

      .Price {
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        margin-top: 20px;
        height: 300px;

        .Freq {
          font-size: 18px;
          font-weight: 600;
        }

        .Cost {
          font-size: 40px;
          font-weight: 800;

          span {
            font-size: 30px;
          }
        }

        .Name {
          font-family: $fontSubtitle;
          padding: 5px 14px;
          width: max-content;
          font-size: 1em;
          height: 28px;
          text-align: center;
          font-weight: 600;
        }
      }

      &:nth-child(odd) {
        background-color: $backgroundLight;
        color: $elementColor;

        .Price {
          color: $elementColor;

          .Name {
            background-color: $elementColor;
            color: $backgroundLight;
          }
        }
      }

      &:nth-child(even) {
        background-color: $elementColor;
        color: $backgroundLight;

        .Price {
          color: $backgroundLight;

          .Freq {
            color: $backgroundLight;
          }

          .Name {
            background-color: $backgroundLight;
            color: $elementColor;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .PricingSection {
    padding-bottom: 200px;
    .Cards {
      flex-direction: row;

      .Plan {
        height: 500px;
        flex-direction: column;

        .JoinBtn {
          text-align: center;
          padding-top: 30px;
          width: max-content;
          margin-left: 30px;
          padding: 10px 40px;
        }

        &:nth-child(even) {
          height: 555px;
          margin: 0 20px -10px 20px;
        }
      }
    }
  }
}