// .Community {
//   display: flex;
//   flex-direction: column;
//   padding-bottom: 100px;

//   .sectionName {
//     padding-bottom: 70px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .cards {
//     padding: 0 20px;
//     display: flex;
//     flex-direction: column;

//     .plan {
//       height: max-content;
//       margin: auto;
//       width: 100%;
//       display: flex;
//       align-items: center;
//       justify-content: space-evenly;
//       margin-bottom: 20px;

//       .joinBtn {
//         text-align: center;
//         padding-top: 30px;
//         border: 1px #fff solid;
//         width: max-content;
//         font-family: $fontSubtitle;
//         font-weight: 700;
//         margin-top: 16px;
//         padding: 10px 40px;

//         &:nth-child(even) {
//           border: 1px solid #000;
//         }

//         &:nth-child(odd) {
//           background-color: $backgroundLight;
//           color: $elementColor;
//         }
//       }

//       .extrasDiv {
//         padding: 30px 0;
//         p {
//           padding-bottom: 20px;
//           .image {
//             padding-right: 10px;
//             vertical-align: sub;
//           }
//         }
//       }

//       p {
//         font-family: $fontSubtitle;
//       }

//       .price {
//         display: flex;
//         flex-direction: column;
//         place-items: center;
//         justify-content: center;
//         margin-top: 20px;
//         height: 300px;

//         .freq {
//           font-size: 18px;
//           font-weight: 600;
//         }

//         .cost {
//           font-size: 40px;
//           font-weight: 800;

//           span {
//             font-size: 30px;
//           }
//         }

//         .name {
//           font-family: $fontSubtitle;
//           padding: 0 14px;
//           width: max-content;
//           font-size: 1em;
//           height: 28px;
//           text-align: center;
//           font-weight: 600;
//         }
//       }

//       &:nth-child(odd) {
//         background-color: $backgroundLight;
//         color: $elementColor;

//         .price {
//           color: $elementColor;

//           .name {
//             background-color: $elementColor;
//             color: $backgroundLight;
//           }
//         }
//       }

//       &:nth-child(even) {
//         background-color: $elementColor;
//         color: $backgroundLight;

//         .price {
//           color: $backgroundLight;

//           .freq {
//             color: $backgroundLight;
//           }

//           .name {
//             background-color: $backgroundLight;
//             color: $elementColor;
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: $breakpoint-tablet) {
//   .Community {
//     max-width: 80vw;
//     margin: auto;
//   }
// }

// @media screen and (min-width: $breakpoint-desktop) {
//   .Community {
//     max-width: $breakpoint-desktop;
//     padding-bottom: 200px;
//     .cards {
//       flex-direction: row;

//       .plan {
//         height: 500px;
//         flex-direction: column;

//         .joinBtn {
//           text-align: center;
//           padding-top: 30px;
//           width: max-content;
//           margin: 8px auto;
//           padding: 10px 40px;
//         }

//         &:nth-child(even) {
//           height: 555px;
//           margin: 0 20px -10px 20px;
//         }
//       }
//     }
//   }
// }

.Community {
  max-width: 100vw;
  min-height: 100vh;

  .sectionName {
    margin-left: 50px;
    margin-bottom: 70px;
  }

  .nav {
    margin: auto;
    width: max-content;
    
    .next {
      padding-right: 35px;
    }
  }

  .cards {
    width: 100vw;
    .card {

      .testimonials {
        .name {
          font-family: $fontSubtitle;
          margin-top: -70px;
          margin-bottom: 70px;
          text-align: center;

          span {
            font-family: $fontSubtitle;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 700;
            font-size: 30px;
            color: $accentColor;
          }
        }
        .description {
          width: 70%;
          margin-left: auto;
          margin-right: auto;
          font-size: 14px;
          line-height: 24px;
          font-style: italic;
        }
        position: absolute;
        color: $backgroundColor;
        bottom: 0;
        left: -10px;
        right: 0;
      }
    
      .image {
        padding-left: 20px;
        margin: 40px 0;
        object-fit: cover;
        width: calc(15vmin + 10em);
        height: calc(20vmin + 15em);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .Community {
    .nav {
      margin-left: auto;
      margin-right: 30px;
    }
    .cards {
      .card {
        .testimonials .name {
          margin-top: -20px;
          margin-bottom: 70px;
        }
        .image {
          width: 330px;
          max-height: 480px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tabletLandscape) {
  .Community {
    max-width: $breakpoint-desktop;
    margin: auto;
    position: relative;

    .nav {
      position: absolute;
      top: 69%;
      left: 80px;
    }

    .cards {
      max-width: 800px;
      margin-right: -10px;
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .Community {
    max-height: fit-content;
    .nav {
      top: 350px;
    }
    .cards {
      margin-right: -10px;
      margin-top: -200px;

      
    }
  }
}