.QuestionCard {
  margin: 20px 0;
  border: 1px solid $elementColor;

  .Answer {
    display: none;
    width: inherit;
    padding: 0 20px;

    p{
      color: $backgroundDarker;
    }
  }

  .answerOpen {
    display: block;
  }

  .Question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 100%;
    border: none;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 1.5ch;
      line-height: 28px;
      text-align: left;
      padding: 20px 0 20px 20px;
    }

    .Image {
      background-image: url('../../../../public/Icons/Vector-3.svg');
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      padding: 13px;
      margin-right: 20px;

    }
    .imageOpen {
      background-image: url('../../../../public/Icons/Vector-2.svg');
    }
  }
}