.AboutSection {
  .Description {
    text-align: left;
    width: inherit;
    font-family: $fontHeading;
    font-size: 20px;
    color: $backgroundDarker;
  }

  .Button {
    display: flex;
    margin-left: calc(16% - 40px);
    margin-top: 49px;

    p {
      font-family: $fontSubtitle;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 18px;
      padding-right: 16px;
      padding-top: 5px;
      text-transform: uppercase;
    }

    .Image {
      width: 25px;
      height: 25px;
    }
  }

  .SectionName {
    padding: 35px 16%;
  }
}
