.WhatWeDo {
  padding: 50px 0;

  .description {
    color: $backgroundMedium;
    text-align: center;
    max-width: 70vw;
    margin: auto;
    padding-bottom: 50px;
  }

  .sectionName {
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
    color: $accentColor;
  }
  .itemCard {
    padding: 20px;

    .image {
      padding-bottom: 20px;
      margin: auto;
      width: 100px;
    }

    .info {
      text-align: center;
      color: $backgroundMedium;

      .title {
        font-family: $fontHeading;
        font-weight: bold;
        font-size: calc(2vmin + 1.5em);
        color: $accentColor;
        text-shadow: 0 1px 0 rgb(124, 124, 124);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tabletSmall) {
  .WhatWeDo {
    .itemCard {
      max-width: 90vw;
      margin: auto;
      .image {
        max-width: 200px;
      }
      .description {
        width: inherit;
      }
      &:nth-child(odd) {
        display: flex;
        
        .image {
          margin-right: 20px;
        }

        .info {
          text-align: left;

          .title {
            margin-left: 10px;
          }
          .description {
            text-align: left;
          }
        }
      }

      &:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;

        .image {
          margin-left: 20px;
        }

        .info {
          text-align: right;

          .title {
            margin-right: 10px;
          }
          .description {
            text-align: right;
          }
        }
      }
    }
    
  }  
}

@media screen and (min-width: $breakpoint-tabletLandscape) {
  .WhatWeDo .itemCard {
    max-width: 50vw;
  }
}

@media screen and (min-width: $breakpoint-wide) {
  .WhatWeDo {
    height: 64em;

    .itemCard {
      max-width: 700px;
      .image {
        height: 200px;
      }

      .title {
        font-size: 2em !important;
      }
    }
  }
}