// $accentColor: #F87AAB;
// $backgroundColor: #F2F2F2;
// $elementColor: #D0D0D0;
// $formColor: #505050;
// $formTextColor: #F87AAB;

// $scrollbarMainColor: #F87AAB;
// $scrollbarAccentColor: #505050;

$backgroundColor: #fff;
$elementColor: #131316;
$accentColor: #4AE290;
$backgroundDarker: #595962;
$backgroundMedium: #9797A2;
$backgroundLight: #DEDEE3;