.menuToggle:checked ~ nav{
  transform: scale(1, 1);

  a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}

.menuToggle {
  display: none;
}

.label {
  position: absolute;
  top: 0;
  right: 40px;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;

  span, span::before, span::after {
    width: 2em;
    display: block;
    background-color: #fff;
    box-shadow: #000 0 0 5px;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  span::before, span::after {
    content: '';
    position: absolute;
  }

  span::before {
    bottom: 7px;
  }

  span::after {
      top: 7px;
  }
}

.Header {
  background-color: $elementColor;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 999;


  a {
    text-decoration: none;
    color: #fff;
  }

  .bigLogo {
    display: none;
  }

  .smallLogo {
    width: max-content;
    margin: auto;
    padding: 5px 0 10px 10px;
    font-size: 2rem;
    font-family: $fontHeading;
  }

  nav {
    position: absolute;
    text-align: center;
    height: 100vh;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0 50px;
    background-color: rgba($color: $elementColor, $alpha: 0.8);
    background-color: $elementColor;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    .Buttons {
      button {
        width: 115px;
        height: 42px;
        color: $backgroundColor;
        border: none;
        font-size: 12px;
        font-weight: 700;
        background-color: $accentColor;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      & > :nth-child(1) {
        background-color: transparent;
      }
    }

    ul {
      height: 70vh;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;

      li {
        margin: 1.5em auto;

        a {
          color: #fff;
          padding: 2px 10px;
          font-weight: 500;
          font-size: 1.2rem;
          text-transform: uppercase;
          opacity: 0;
          transition: opacity 150ms ease-in-out;
          text-decoration: none;
        }

        .highlight {
          color: $elementColor;
          background-color: $backgroundColor;
          text-shadow: none;
          font-weight: 600;
          pointer-events: none;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktopMedium) {
  .label {
    display: none;
  }

  .Header {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    margin: auto;
    background-color: transparent;

    .smallLogo {
      display: none;
    }

    .bigLogo {
      display: block;
    }

    .highlightScrollbar {
      transition: all ease 400ms;
      background-color: $elementColor;
    }

    nav {
      position: unset;
      background-color: transparent;
      display: flex;
      height: inherit;
      flex-direction: row;
      transform: scale(1, 1);
      align-items: center;
      justify-content: space-around;
      transition: all ease 400ms;

      .bigLogo {
        color: #fff;
        font-weight: bold;
        font-size: 1.5em;
        font-family: $fontHeading;
        padding: 20px 0 10px 20px;
        cursor: pointer;
      }

      ul {
        padding-top: 5px;
        height: 80px;
        display: flex;
        flex-direction: row;
          
        li {
          padding: 0 30px;
          a {
            color: $backgroundColor;
            font-size: 16px;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-wide) {
  .Header {
    max-width: $breakpoint-wide;
  }
}