.menuToggle:checked ~ nav{
  transform: scale(1, 1);

  a {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
  }
}

.menuToggle {
  display: none;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;

  span, span::before, span::after {
    width: 2em;
    display: block;
    background-color: #fff;
    box-shadow: #000 0 0 5px;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  span::before, span::after {
    content: '';
    position: absolute;
  }

  span::before {
    bottom: 7px;
  }

  span::after {
      top: 7px;
  }
}

.Header {
  background-color: rgba($color: $elementColor, $alpha: 0.8);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;

  a {
    text-decoration: none;
    color: #fff;
  }

  .bigLogo {
    display: none;
  }

  .smallLogo {
    width: max-content;
    margin: auto;
    padding: 5px 0 10px 10px;
    font-size: 2rem;
    font-family: $fontHeading;
  }

  nav {
      position: absolute;
      text-align: center;
      top: 100%;
      width: 100%;
      left: 0;
      background-color: rgba($color: $elementColor, $alpha: 0.8);
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 400ms ease-in-out;

      ul {
        height: 100vh;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;

        li {
          margin: 1.5em auto;

          a {
            color: #fff;
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            text-decoration: none;

            .underline {
              height: 2px;
              width: 100%;
              background-color: $accentColor;
              position: relative;
              bottom: -0.2em;
              transform: scale(0, 1);
              transition: transform ease-in 250ms;
            }
          }

          .highlight {
            color: $accentColor;
            text-shadow: none;
            font-weight: 500;
            pointer-events: none;
            
            .underline {
              transform: scale(1, 1);
            }
          }
        }
      }
  }
}

@media screen and (min-width: 850px) {

  .label {
    display: none;
  }

  .Header {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    margin: auto;

    .smallLogo {
      display: none;
    }

    .bigLogo {
      display: block;
    }

    .highlightScrollbar {
      background-color: $backgroundColor;
      box-shadow: 0px 1px 1px gray;
      transition: all 400ms ease-in-out;

      .bigLogo {
        color: $accentColor;
        transition: all 400ms ease-in-out;
      }
    }

    nav {
      padding-top: 20px;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      transform: scale(1, 1);
      justify-content: space-between;
      .bigLogo {
        letter-spacing: 10px;
        color: #fff;
        font-weight: bold;
        font-size: 1.5em;
        font-family: $fontHeading;
        padding: 20px 0 10px 20px;
        cursor: pointer;
      }

      ul {
        padding: 10px 15px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
          
        li {
          padding: 0 30px;
          a {
            color: #000;
            font-size: 1.2em;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .Header {
    width: 70%;
  }
}

@media screen and (min-width: $breakpoint-wide) {
  .Header {
    max-width: $breakpoint-wide;
  }
}