.Gallery {
  text-align: center;
  overflow: hidden;
  padding: 200px 0 100px 0;
  margin: auto;

  .carousel {
    width: 70vw;
    height: 100%;
    padding-bottom: 100px;
    --swiper-theme-color: #000;
  }

  h2 {
    padding-bottom: 20px;
    font-weight: bold;
    color: $accentColor;
  }

  .subtitle {
    color: $backgroundMedium;
    padding-bottom: 100px;
  }

  .swiperSlide {
    display: grid;
    place-items: center;
    overflow: hidden;

    .effect {
      overflow: hidden;
      position: absolute;
      background-color: rgba($color: $accentColor, $alpha: 0.5);
      opacity: 0;
      display: grid;
      place-items: center;
      width: 250px;
      height: 400px;

      .imageTxt {
        color: #fff;
        width: 250px;
        left: 15px;
        position: absolute;
        bottom: 0;
        opacity: 0;
        padding: 0 20px;
        font-size: 2em;
      }

      &:hover {
        opacity: 1;
        transition: all 500ms;

        .imageTxt {
          opacity: 1;
          transform: translateY(20px);
          transition: all 500ms;
        }

        &:before {
          opacity: 1;
          transform: translateY(-1px);
          transition: all 500ms;
        }
      }

      &::before {
        content: '';
        opacity: 0.5;
        position: absolute;
        left: 0;
        right: 0;
        background: #000;
        bottom: 0;
        width: 100%;
        height: 20px;
        transform: translateY(20px);
      }
    }

    .photo {
      object-fit: cover;
      max-width: 250px;
      height: 400px;
      background-position: center center;
    }
  }
}

@media screen and (min-width: $breakpoint-wide) {
  .Gallery {
    .carousel {
      width: $breakpoint-wide;
      height: 54em;
    }
  }
}