.IconHeading {
  color: $elementColor;
  font-family: $fontHeading;
  font-weight: 800;
  font-size: calc(3vmin + 0.5em);

  .Image {
    position: relative;
    opacity: 0.5;
    width: 24vmin;
    height: 16vmin;
    opacity: 0.5;
    left: -30px;
    bottom: -70px;
    right: 0;

    @media screen and (min-width: $breakpoint-mobileLandscape) {
      bottom: -3em;
    }
  }

  span {
    color: $accentColor;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .IconHeading {
    font-size: calc(3vmin + 0.4em);
  }
}

@media screen and (min-width: $breakpoint-full) {
  .IconHeading {
    font-size: 2em;

    .Image {
      max-width: 200px;
      height: 150px;
    }
  }
}