.IconHeading {
  color: $elementColor;
  font-family: $fontHeading;
  font-weight: 800;
  font-size: 16px;

  @include mq($breakpoint-tablet) {
    font-size: 20px;
  }

  @include mq($breakpoint-full) {
    font-size: 25px;
  }

  .Image {
    position: relative;
    left: -30px;
    bottom: -70px;
    right: 0;

    @media screen and (min-width: $breakpoint-mobileLandscape) {
      bottom: -3em;
    }
  }

  span {
    color: $accentColor;
  }
} 