.Workouts {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  overflow: hidden;
  margin: 100px 0 100px 0;

  .SectionName {
    text-shadow: none;

    .SectionImg {
      left: -27%;

      @include mq($breakpoint-tablet) {
        left: -15%;
      }
    }
  }

  .Carousel {
    .Nav {
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;

      .Next {
        width: 40px;
        margin-right: 15px;
      }
  
      .Prev {
        width: 40px;
        margin-left: 15px;
      }
    }

    .Offer {
      margin-top: 70px;

      .Image {
        margin-top: 40px;
        object-fit: cover;
        width: 20vw;
        height: 30vh;

        @include mq($breakpoint-mobileLarge) {
          width: 30vmin;
          height: 30vmin;
        }

        @include mq($breakpoint-full) {
          width: 280px;
          height: 320px;
        }
      }

      .Title {
        position: relative;
        top: -50px;
        left: 15%;
        width: fit-content;
        padding: 4px 14px;
        text-shadow: none;
        color: $elementColor;
        font-family: $fontSubtitle;
        font-weight: 600;
        line-height: 18px;
        font-size: 14px;
        background-color: #fff;
      }

      .activeTitle {
        position: relative;
        top: -20px;
        left: 10px;
      }
    }

    .Active {
      .Image {
        margin-top: 20px;
        width: 70vw;
        height: 35vh;
        transform: scale(1.2);

        @include mq($breakpoint-mobileLarge) {
          width: 30vmin;
          height: 40vmin;
        }

        @include mq($breakpoint-full) {
          width: 280px;
          height: 368px;
        }
      }
    }
  }  
}

@media screen and (min-width: $breakpoint-mobileLandscape) {
  .Workouts {
    .Carousel {
      .Nav {
        margin-left: 70vw;
      }
      .Active {
        .Title {
          left: 10%;
        }
      }
    }
  }
}

@media screen and (min-width: 1156px) {
  .Workouts {
    .SectionName .SectionImg {
      left: -8em;
    }
  }
}

@media screen and (min-width: $breakpoint-wide) {
  .Workouts {
    .SectionName {
      max-width: 1440px;
    }

    .Carousel {
      height: 800px;
      .Nav {
        width: 200px;
        position: absolute;
        right: 20px;
        bottom: 200px;
      }
    }
  }
}