.Workouts {
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0 0 3px #000;
  overflow: hidden;
  margin: 100px 0 100px 0;

  .SectionName {
    text-shadow: none;
    width: 100vw;
    padding: 0 10px;
    margin: auto;

    .SectionImg {
      left: 27%;
    }
  }

  .Carousel {
    .Nav {
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;

      .Next {
        width: 40px;
        margin-right: 15px;
      }
  
      .Prev {
        width: 40px;
        margin-left: 15px;
      }
    }

    .Offer {
      padding-top: 70px;

      .Image {
        margin-top: 40px;
        object-fit: cover;
        width: 30vmin;
        height: 30vmin;
      }

      .Title {
        position: absolute;
        bottom: 7%;
        left: 15%;
        padding: 4px 14px;
        text-shadow: none;
        color: $elementColor;
        font-family: $fontSubtitle;
        font-weight: 600;
        line-height: 18px;
        font-size: 14px;
        background-color: #fff;
      }
    }

    .Active {
      .Image {
        margin-top: 20px;
        width: 30vmin;
        height: 40vmin;
        transform: scale(1.2);
      }

      .Title {
        bottom: 0.5%;
        left: 5%;
      }
    }
  }  
}

@media screen and (min-width: $breakpoint-mobileLandscape) {
  .Workouts {
    .Carousel {
      .Nav {
        margin-left: 70vw;
      }
      .Active {
        .Title {
          left: 10%;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .Workouts {
    .Carousel {
      .Offer .Title {
        bottom: 3%;
      }
      .Active .Title {
        bottom: -1%;
      }
    }
  }
}

@media screen and (min-width: 1156px) {
  .Workouts {
    .Carousel {
      .Offer .Title {
        bottom: 3%;
        left: 28%;
      }
      .Active .Title {
        left: 25%;
        bottom: -4%;
      }
    }
  }
}

@media screen and (min-width: 1272px) {
  .Workouts {
    .Carousel {
      .Offer .Title {
        left: 30%;
      }
      .Active .Title {
        left: 25%;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .Workouts {
    .Carousel {
      .Offer {
        padding-top: 115px;
      }
      .Offer .Title {
        left: 33%;
      }
      .Active .Title {
        left: 30%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-wide) {
  .Workouts {
    .SectionName {
      max-width: 2000px;
    }

    .Carousel {
      .Offer .Image {
        max-width: 480px;
        max-height: 480px;
      }

      .Offer .Image {
        max-width: 480px;
        max-height: 768px;
      }
    }
  }
}