
* {
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontSubtitle;
}

body {
  margin: auto;
  background-color: $backgroundColor;
  max-width: $breakpoint-full;
  min-height: 100vh;
  overflow-x: hidden;

  button {
    cursor: pointer;
  }

  h2 {
    font-family: $fontHeading;
  }
}
  
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: $backgroundDarker;
  border-radius: 0;
  margin-block: 0;
}

::-webkit-scrollbar-thumb {
  background-color: $accentColor;
  border: 0.2em solid $backgroundDarker;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $accentColor;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $backgroundDarker $accentColor;
    scrollbar-width: thin;
  }
}